*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px !important;
    white-space: nowrap !important;
    font-family: gilroy !important;
}
#loop>h1{
    font-weight: 400 !important;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #060047;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #060047 !important;
    color: transparent !important;
    font-weight: 500 !important;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 0px 30px;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 22px;
}
#nav>a>button{
    padding: 10px 20px !important;
    border-radius: 50px !important;
    background-color: #007bff !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer;
}

#nav>a>button:hover{
  
    color: #007bff;
    background-color: #ffffff ;
    border: 1px solid #007bff;
}

.page1-content{
    position: absolute !important;
    top: 55% !important;
    
    font-size: 45px;
   
    left: 5%;
    right: 60%;
    color: #f1f1f1 !important;
    
    line-height: 40px;
    margin-top: 80px !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ED2B2A;
}


.page1-content h3, h4{
  
    color: #7c7c7c !important;
    font-weight: 400 !important;
    font-family: gilroy !important;
    
    
}

#page>h3{
    position: absolute;
    top: 55%;
    font-family: gilroy;
    font-weight: 400;
    color: #7c7c7c;
    left: 5%;
    right: 60%;
}
#page>h4{
    position: absolute;
    top: 62%;
    left: 25%;
    font-family: gilroy;
    font-weight: 500;
}
#page1>#right-text{
    position: absolute;
    top: 10%;
    left: 5%;
}
#page1>#right-text>h3{
    font-weight: 400;
    color: #7c7c7c;
}
#page1>#right-text>h1{
    line-height: 1.5 !important;
    font-size: 50px !important;
}
#page1>#left-text{
    position: absolute;
    top: 38%;
    right: 5%;
    text-align: end;
}
#page1>#left-text>h1{
    font-size: 50px !important;
    line-height: 1.5 !important;
}
#page1>#left-text>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px !important;
    line-height: 1.5 !important;
}
#page2>#text2{
    position: absolute;
    top: 55%;
    right: 10%;
    text-align: end;
}
#page2>#text2>p{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3{
    position: absolute;
    top: 40%;
    right: 10%;
    text-align: end;
}
#page3>#text3>h3{
    color: #7c7c7c;
    font-weight: 400;
}
#page3>#text3>h1{
    font-size: 70px !important;

}

.contact-button{
  
    padding: 10px 40px !important;
    border-radius: 50px !important; 
    border: solid 1px ;   
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
   
           
           
}

.loop-h1{
    margin-right: 100px;
}



.contact a {
    cursor: pointer !important;
}